#cards
{
    display: flex;
    flex-wrap:wrap;
    padding:50px 30px;
    justify-content: space-around;
    /* background-color: rgba(203, 97, 213, 0.925); */
    align-items:center;
    margin-top: 100px;
    color: white;
}

#maindiv
{
    padding: 250px 0px;
    background-color: rgba(203, 97, 213, 0.925);
    text-align: center;
}

#img
{
    height: 100%;
    width: 100%;
}
.title
{
    color: white;
}
.icon
{
    position: absolute;
    top: 480px;
    left: 1120px;
}
